README_images
docker-compose.yml
.git
.github
.gitignore
.github/workflows
.gitattributes
.po~
build.sh
README.md
LICENSE
Dockerfile
.dockerignore
build.sh
.history
docker-compose.yml.dev
changelogs
cwa-wiki
wiki_images
.devcontainer