/* Truncates a books description if if spans more than 8 lines */
dd.meta_description {
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

body.admin h2 {
    font-size: 28px !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
}

/* Fix z-index issues with specific elements that show through modals */
body.modal-open .book-meta > .author > a:first-of-type:before,
body.modal-open div.tags > p > span.glyphicon.glyphicon-tags,
body.modal-open #remove-from-shelves + .identifiers,
body.modal-open #remove-from-shelves + .languages, 
body.modal-open #remove-from-shelves + .publishers,
body.modal-open #remove-from-shelves + .publishing-date,
body.modal-open #remove-from-shelves + .tags {
    z-index: -1 !important;
}
/* Dim and indicate globally disabled metadata providers in modal */
.provider-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.provider-disabled .glyphicon-ok {
  display: none;
}

/* Target only specific selectpicker dropdowns (Tags and other form elements) */

/* #include_serie + .btn-group .dropdown-menu,
#exclude_serie + .btn-group .dropdown-menu,
#include_shelf + .btn-group .dropdown-menu,
#exclude_shelf + .btn-group .dropdown-menu,
#include_language + .btn-group .dropdown-menu,
#exclude_language + .btn-group .dropdown-menu,
#include_extension + .btn-group .dropdown-menu,
#exclude_extension + .btn-group .dropdown-menu, */
#include_tag + .btn-group .dropdown-menu,
#exclude_tag + .btn-group .dropdown-menu {
    max-width: 40vw;
}
