{% extends "layout.html" %}

{% block body %}
<div class="discover">
  <h2>{{title}}</h2>
    <div>
      <h3 style="color: whitesmoke;">CWA Library Convertor - Current Target Format - {{target_format}}</h3><br>
      <div style="display: flex;
                  justify-content: space-between;
                  gap: 20px;">
        <p style="font-size: xx-small;max-width: 80%;">
          The Library Conversion Process automatically starts upon loading this page and therefore has already started, 
          you can follow it's progress below. Leaving this page will not interrupt the process but you will be unable to 
          return to check on it's process here in the Web UI after leaving, you would then need to check it's progress 
          in the container's logs.</p>
        <form action="{{ url_for('convert_library.get_status')}}" method="post">
        <input class="btn btn-default" type="submit" name="cancel_button" value="Cancel"
          style="vertical-align: top;
                float: right;
                width: 100px;">Cancel</button>
        </form>
      </div>
      <div class="row">
        <div class="logging_window" style="padding-left: 15px;
                                          padding-right: 15px;
                                          background: #0000003d;
                                          padding-top: 11px;
                                          padding-bottom: 1px;">
          <p id="innerStatus" style="color: whitesmoke; font-size: small;">Loading...</h2>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  var timeout;
  
  async function getStatus() {
  
    let get;
    
    try {
      const res = await fetch("{{ url_for('convert_library.get_status')}}");
      get = await res.json();
    } catch (e) {
      console.error("Error: ", e);
    }
    
    document.getElementById("innerStatus").innerHTML = get.status.replace(/\n/g, "<br>"); // * 10 + "&percnt;"
    
    if (get.status.includes("Done!")){
      document.getElementById("innerStatus").innerHTML;
      clearTimeout(timeout);
      return false;
    }
  
    timeout = setTimeout(getStatus, 1000);
  }
  
  getStatus();
  </script>
{% endblock %}