{% extends "layout.html" %}
{% block body %}
<div class="discover">
  <h2>Calibre-Web Automated Stats</h2>
    <div>
      <h3>{{title}}</h3><br>
      <table class="table table-striped">
        <tr>
          {% for header in table_headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
          {% for cell in row %}
          <td style="max-height: 20rem; overflow-y: scroll; display: flex;">{{ cell | replace("\n", "<br>") | safe }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
</div>
{% endblock %}
