{% extends "layout.html" %}
{% block body %}
<div class="discover">
  <h2>{{title}}</h2>
    <div>
      <h3>Calibre-Web Automated Enforcement History</h3><input type="submit" name="see_more" value="Click to See More" class="btn btn-default" formaction="{{ url_for('cwa_history.show_full_enforcement') }}"><br>
      <table class="table table-striped">
        <tr>
          {% for header in table_headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <h4><i>Paths</i></h4><input type="submit" name="see_more" value="Click to See More" class="btn btn-default" formaction="{{ url_for('cwa_history.show_full_enforcement_path') }}"><br>
      <table class="table table-striped">
        <tr>
          {% for header in table_headers_p %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in data_p %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div>
      <h3>Calibre-Web Automated Import History</h3><input type="submit" name="see_more" value="Click to See More" class="btn btn-default" formaction="{{ url_for('cwa_history.show_full_imports') }}"><br>
      <table class="table table-striped">
        <tr>
          {% for header in table_headers_i %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in data_i %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div>
      <h3>Calibre-Web Automated Conversion History</h3><input type="submit" name="see_more" value="Click to See More" class="btn btn-default" formaction="{{ url_for('cwa_history.show_full_conversions') }}"><br>
      <table class="table table-striped">
        <tr>
          {% for header in table_headers_c %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in data_c %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock %}
