name: Build & Push - Release
# Automatically builds and pushes a multi-platform image based on the repo's newest release and tags it both as latest and with the version number of the release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-latest-arm64
    
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4

      - name: Set repo name to lowercase
        run: echo "LOWER_REPO_NAME=$(echo ${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: DockerHub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PA_TOKEN }}

      - name: GitHub Container Registry Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            BUILD_DATE=${{ github.event.repository.updated_at }}
            VERSION=${{ github.event.release.tag_name }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/calibre-web-automated:${{ github.event.release.tag_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/calibre-web-automated:latest
            ghcr.io/${{ github.repository_owner }}/${{ env.LOWER_REPO_NAME }}:${{ github.event.release.tag_name }}
            ghcr.io/${{ github.repository_owner }}/${{ env.LOWER_REPO_NAME }}:latest
          platforms: ${{ matrix.platform }}